.list{
  height: 500px;
  display: flex;
  flex-direction: column;
  flex: 0.6;
  align-self: flex-end;
  margin-left: auto;
  overflow-y: scroll;
  position: sticky;
  position: -webkit-sticky;
  bottom: 2rem;

  &::-webkit-scrollbar{
    display: none;
  }

  .list-item{
    padding: 5px;

    div.media-body{
      p{
        font-size: 0.8em;
      }
    }
  }
}

@media (max-width: 800px) {
  .list {
    flex: 1;
  }
}