.list {
  height: inherit;
  display: flex;
  flex-direction: column;
  flex: 0.6;
  align-self: flex-end;
  margin-left: 30px;
  overflow-y: scroll;
  position: sticky;
  position: -webkit-sticky;
  bottom: 2rem;
  padding: 10px 0px 10px 0px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 20px;
    border: 1px solid white;

    &:hover {
      background-color: grey;
      border-radius: 20px;
      border: 1px solid white;
    }
  }
}

@media (max-width: 800px) {
  .list {
    flex: 1;
  }
}
