.list{
  height: 600px;
  display: flex;
  flex-direction: column;
  flex: 0.6;
  align-self: flex-end;
  margin-left: auto;
  overflow-y: scroll;
  position: sticky;
  position: -webkit-sticky;
  bottom: 2rem;
  padding: 10px 0px 10px 0px;

  &::-webkit-scrollbar{
    display: none;
  }
}

@media (max-width: 800px) {
  .list {
    flex: 1;
  }
}