.main-container {
  background-color: #fff;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  margin: 20px 40px;
  padding: 10px 30px;
  height: 95vh;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .main-content {
    margin-top: 40px;
    height: 490px;
    overflow-y: hidden;
  }
}

@media (max-width: 820px) {
  .main-container .main-content {
    height: 470px;
  }
}

@media (max-width: 570px) {
  .main-container .main-content {
    height: 440px;
  }
}
