.main-container{
  background-color: #fff;
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  margin: 20px 40px;
  padding: 10px 30px;
  height: 95vh;
  overflow-y: hidden;

  &::-webkit-scrollbar{
    display: none;
  }

  .main-content{
    margin-top: 60px;
    overflow-y: hidden;
  }
}