div.sidemenu {
  min-height: calc(100vh - 50px) !important;
  overflow: hidden;

  div.ui.sidebar {
    background-color: #222831;
    border-color: #393e46;
    border-style: solid;
    border-radius: 20px;
    border-width: 4px;
    left: 10px;
    border-radius: 20px !important;
  }

  div.pusher.pusherDiv {
    border-style: solid;
    border-color: #393e46;
    border-radius: 20px;
    border-width: 4px;
    margin: 5px;
  }

  .segment {
    min-height: calc(100vh - 50px) !important;
  }
}
