.fa-spotify {
  font-size: 50px;
}

.in{
  -webkit-box-shadow: 0px 0px 35px 10px rgba(237, 219, 17, 1);
  -moz-box-shadow: 0px 0px 35px 10px rgba(237, 219, 17, 1);
  box-shadow: 0px 0px 35px 10px rgba(237, 219, 17, 1);
  border-radius: 100px;
  font-size: 50px;
}

.external-icon {
  background-color: rgba(0, 21, 41, 0);
  border-style: none;
  color: white;
}

.external-icon-in{
  background-color: rgba(0, 21, 41, 0);
  border-style: none;
  color: green;
}

.external-icon:hover{
  color: white;
}

.external-icon-in:hover{
  color: green;
}
