.nav-container {
  top: 1em;
  position: sticky;
  position: -webkit-sticky;

  a {
    text-decoration: none;
    color: grey;
  }

  a:active {
    color: black;
  }

  a.nav-link.active {
    color: black;
  }

  a.logo {
    line-height: 1em;
    font-size: 1.2em;
  }
}
